<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <TAP.ISEM.Configuration>
    <CELL>
      <Host>
        <MDIInit Status="NORMAL" Width="1274" Height="884" />
        <URLBASE VALUE="http://isemm.hanwha-qcells.com:8000/" />
      </Host>
      <Shift>
        <WorkA StartTime="07:30:00" EndTime="19:29:59" />
        <WorkB StartTime="19:30:00" EndTime="07:29:59" />
      </Shift>
      <Defined />
    </CELL>
  </TAP.ISEM.Configuration>
</configuration>