################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/**/Debug
/UI/**/Release
/ISIA/**/Release
/ISIA/**/Debug
*.log
/.vs
/_bin/FX/ISIA.application
/_bin/FX/ISIA.exe
/_bin/FX/ISIA.exe.manifest
/_bin/FX/ISIA.pdb
/_bin/FX/app.publish



/_bin/FX_Server/log/Remoting/remote
