<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Web Service Address for Patches-->
    <add key="SERVICE_ADDRESS" value="http://isetsvr:7999/ISIA_Patch/"/>
    <!--Default Output File Name-->
    <add key="OUTPUTFILE" value="patchlist.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
