<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TAPConfiguration"
             type="TAP.Base.Configuration.TapConfigurations,TAP.Base.Configuration" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <TAPConfiguration>

    <!-- Environment Section-->
    <!-- Developer must edit this section!!!-->
    <EnvironmentSection Region ="CELL" ExecutePath="" InstallType="SERVER"  />

    <!-- Administrator-->
    <!-- Developer must edit this section!!!-->
    <AdminListenerSection>
       <AdminListener IP="172.16.45.93" Port="9040"/>
    </AdminListenerSection>

    <!-- Data Source-->
    <!-- If system uses database set 'DB' -->
    <!-- If system uses xml file set 'XML' -->
    <!-- Developer must edit this section!!!-->
    <DataSourceSection DataSource="DB" InfoBase ="FX"  />

    <!-- Database-->
    <!-- Developer must edit this section!!!-->
    <DatabaseSection Default="DEFAULT" TimeOut="500">
      <!--<Connection Key="DEFAULT" DBMS="MSSQL" DTC = "false" ConnectionString="Server=172.16.45.92;Database=ISIA_NEW;Uid=TAP_NEW;Password=1234@qwe" SelectCommandMethod="TEXT" ModifyCommandMethod="TEXT" />-->
      <Connection Key="DEFAULT" DBMS="ORACLE" DTC = "false" ConnectionString="Data source=(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.45.125)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cellmes)));User ID=cellmes;Password=cellmes2021;" SelectCommandMethod="TEXT" ModifyCommandMethod="TEXT" />
    </DatabaseSection>

    <!-- XML Source-->
    <!-- Developer must edit this section!!!-->
    <XMLSection FileName="C:\TAP\CLUSTER\CLUSTERMODEL.XML" RootNode="MODEL" BackupPath="C:\TAP\CLUSTER\BACKUP\" />

    <!-- Framework-->
    <FrameworkSection>
      <LocalPath Key ="LocalLog" Path="E:\TAP\LocalLog\" />
      <LocalPath Key ="UILog" Path="ui" />
      <LocalPath Key ="ServiceLog" Path="service_Oracle" />
      <LocalPath Key ="ModelLog" Path="model" />
      <LocalPath Key ="WorkflowLog" Path="workflow" />
    </FrameworkSection>

    <!-- Logging-->
    <LogSection>
      <!-- Information Log-->
      <Log Type="I" Logging="true" Path="Info" Extension="ilog" MaxSize="100000" />
      <!-- SQL Log-->
      <Log Type="S" Logging="true" Path="Sql" Extension="slog" MaxSize="100000" />
      <!-- Trace Log-->
      <Log Type="T" Logging="true" Path="Trace" Extension="tlog" MaxSize="100000" />
      <!--Unknown Log-->
      <Log Type="W" Logging="true" Path="Warning" Extension="wlog" MaxSize="100000" />
      <!--Extend Log-->
      <Log Type="E" Logging="true" Path="Error" Extension="elog" MaxSize="100000" />
    </LogSection>

    <LocalLogSection>
      <Log Type="MODEL" Logging="false" Path="Model" Extension="mlog" MaxSize="100" />
    </LocalLogSection>

    <!-- Messaging-->
    <MessagingSection PublicMessageInterval="30" HeartBeatInterval="60">
      <Protocol Type="TCP" ReceiverPort="9031" AppBrowserReceiverPort="9032"/>
      <Protocol Type="UDP" ReceiverPort="9033" AppBrowserReceiverPort="9034"/>
    </MessagingSection>

    <!-- Memory Watcher-->
    <ProcessWatcherSection CriticalMemorySize="307200" CheckInterval="1000" ClosingWaitTime="1000"  LastDataWaitTime ="1000" LastDataWaitCount="10" />

    <!-- Listener-->
    <!-- Developer must edit this section!!!-->
    <RemoteListenerSection MultiConsole = "true">
      <ListenerHost IP="172.16.45.93" Port="9040" MinRemoteCount="1" RetryCount="3" RetryInterval="1500" />
      <ListenerWatcher Interval="1000" />
      <Emergency Key="F8FF170E-0046-42af-A555-09B0BF96AF6F" />
      <Listeners>
        <Listener No="1"  Port="9001" Enabled="true"/>
        <Listener No="2"  Port="9002" Enabled="false"/>
        <Listener No="3"  Port="9003" Enabled="false"/>
        <Listener No="4"  Port="9004" Enabled="false"/>
        <Listener No="5"  Port="9005" Enabled="false"/>
      </Listeners>
    </RemoteListenerSection>

    <!--Mailing-->
    <!-- Developer must edit this section!!!-->
    <SMTPSection Default="DEFAULT">
      <SMTPServer Key="DEFAULT" ServerIP="172.16.5.11 " ServerDomain="qcells.com" UserID="cellem.eqmt" Password="20211125"/>
    </SMTPSection>

    <TraceSection Enabled="true"></TraceSection>

    <!--Remote Section-->
    <!-- Developer must edit this section!!!-->
    <RemoteAdapterSection HostIP="172.16.45.93" HostPort="9040" IsDebugMode="true" TestDBCode="" LocalPort ="9040"/>
    <!-- Remote Biz Component Section-->
    <RemoteDeploySection Path ="D:\SRC\XMATTEST\INPUT\">
      <BizComponent Assembly = "" SubPath ="" />
    </RemoteDeploySection>

    <!-- Application Section-->
    <!-- Developer must edit this section!!!-->
    <AppSection Facility="T1"
                   ServerName ="LOCAL"
                   ServerIP="172.16.45.93"
                   UserLanguage="KR"
                   UILogging ="false"
                   ProductName ="ISIA Service"
                   MDIName ="Service_Oracle"
                   MDIDisplayName ="ISIA_Service v1.0"
                   ServiceInterval ="3600"
                   AppConfigFileName ="ISIAService.config" AppConfigName="ISIA.SERVICE.Configuration">
      <Apps>
        <App Key="MES" Sequence="1" >
          <!--<SubApp  Key="MODELER" AppDirectory="minaSolar\modeler" Image="launcher_modeler.png" HoverImage="launcher_modeler_hover.png" Argument="" AppConfg="" Enabled="true" DisplayName="Modeler" />-->
          <SubApp  Key="OIP_SOLAR" AppDirectory="McWorkdClient\oip" Image="launcher_oip.png" HoverImage="launcher_oip_hover.png" Argument="" AppConfg="" Enabled="true" DisplayName="OIP" />
          <!--<SubApp  Key="REPORT" AppDirectory="minaSolar\oip" Image="launcher_report.png" HoverImage="launcher_report_hover.png" Argument="" AppConfg="" Enabled="true" DisplayName="Report" />-->
          <!--<SubApp  Key="WMS" AppDirectory="minaSolar\oip" Image="launcher_report.png" HoverImage="launcher_report_hover.png" Argument="" AppConfg="" Enabled="true" DisplayName="WMS" />-->
        </App>
        <App Key="ADMIN" Sequence="2" >
          <SubApp  Key="ADMIN" AppDirectory="McWorkdClient\admin" Image="launcher_admin.png" HoverImage="launcher_admin_hover.png" Argument="" AppConfg="" Enabled="true" DisplayName="Administrator's tools" />
          <!--<SubApp  Key="LODE" AppDirectory="minaSolar\lode" Image="launcher_lode.png" HoverImage="launcher_lode_hover.png" Argument="" AppConfg="" Enabled="false" DisplayName="Lode" />-->
        </App>
      </Apps>
      <ServiceGroups>
        <ServiceGroup Key="ISIASERVICE" Sequence="1">
          	<Service Key="USERINTERFACE" DisplayName="" Sequence="2" StartTime="6" EndTime="6" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcUserInterface" Argument=""/>
	 	<Service Key="DAILY_MAIL" DisplayName="" Sequence="1" StartTime="9" EndTime="9" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcDailyMail" Argument=""/> 
        	<Service Key="PMMESSAGE" DisplayName="" Sequence="3" StartTime="7" EndTime="7" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcDailyPMMessage" Argument=""/>
       		<Service Key="DAILYPMMESSAGE" DisplayName="" Sequence="4" StartTime="0" EndTime="0" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcDailyPmAlarm" Argument=""/>
       		<Service Key="PMPARTALARM" DisplayName="" Sequence="5" StartTime="7" EndTime="7" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcPMPartAlarm" Argument=""/> 
        </ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE2" Sequence="2">  
		<Service Key="SPSUMMARY" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcSPDataDailySummary" Argument=""/>
        </ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE3" Sequence="3">  
		<Service Key="RP" DisplayName="" Sequence="0" StartTime="0" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcRPBODailySummary" Argument=""/>
        </ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE4" Sequence="4"> 
		<Service Key="TSSUMMARYAM1" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcTSDataDailySummary" Argument=""/>
	</ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE5" Sequence="5">           
		<Service Key="TSSUMMARYPM2" DisplayName="" Sequence="0" StartTime="20" EndTime="20" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcTSDataDailySummary" Argument=""/>
	</ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE6" Sequence="6"> 
        	<Service Key="STATUSHISTORY" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcSTATUSHISTORYDataDailySummary" Argument=""/>
	</ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE7" Sequence="7"> 
        	<Service Key="ELSUMMARYAM1" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcELDataDailySummary" Argument=""/>
	</ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE8" Sequence="8"> 
        	<Service Key="ELSUMMARYPM2" DisplayName="" Sequence="0" StartTime="20" EndTime="20" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcELDataDailySummary" Argument=""/>	
	</ServiceGroup>  
	<ServiceGroup Key="ISIASERVICE9" Sequence="9">           
		<Service Key="LCSUMMARY" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcLCDataDailySummary" Argument=""/>
        </ServiceGroup> 
	<ServiceGroup Key="ISIASERVICE10" Sequence="10">           
		<Service Key="LDSUMMARY" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcLDDataDailySummary" Argument=""/>
        </ServiceGroup>   
		<ServiceGroup Key="ISIASERVICE11" Sequence="11">           
		<Service Key="TSDB" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcTSHalmInterface" Argument=""/>
        </ServiceGroup>   
		<ServiceGroup Key="ISIASERVICE12" Sequence="12">           
		<Service Key="FILE" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcHenneckInterface" Argument=""/>
        </ServiceGroup>
        <ServiceGroup Key="ISIASERVICE13" Sequence="12">
          <Service Key="WI" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcWIDataDailySummary" Argument=""/>
        </ServiceGroup>
		<ServiceGroup Key="ISIASERVICE14" Sequence="13">
          <Service Key="LAMA" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcDailyMailLama" Argument=""/>
        </ServiceGroup>
		<ServiceGroup Key="ISIASERVICE15" Sequence="14">
          <Service Key="PLAN" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcProdectPlanExcelInterface" Argument=""/>
        </ServiceGroup>
		<ServiceGroup Key="ISIASERVICE16" Sequence="15">
          <Service Key="EXE" DisplayName="" Sequence="0" StartTime="8" EndTime="8" ProcessCount="1" AssemblyFileName="ISIA.SERVICE" AssemblyName="ISIA.SERVICE.SvcProdectPlanExcelInterfaceEXE" Argument=""/>
        </ServiceGroup>
      </ServiceGroups>
      <StartupUI Enabled="false" StartUpMainMenu="UI_MANAGEMENT" StartUpMenu="UI"/>
    </AppSection>

    <!-- Cross language section-->
    <CrossLanguageSection
      LocalFile="tapModeler_cc.mdb"
      ServerDirectory=""
      NeedToDownLoad ="false"
      NeedToApply ="true"
      />

    <!-- Install section-->
    <InstallInfoSection
      DBSetup="true"
      SMTPSetup ="true"
      BatchSetup ="true">
      <Batches>
        <Batch Key ="TapLodeService" Sequence ="1" File ="TAPLodeService.exe"/>
        <Batch Key ="TapLodeService2" Sequence ="2" File ="TAPLodeService2.exe"/>
      </Batches>
    </InstallInfoSection>

  </TAPConfiguration>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="codebase" value="dev"/>
  </appSettings>
</configuration>